<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sr Pokemón</title>
	<!-- bootstrap @5 -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
	<!-- VueJS @2 -->
	<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
	<!-- jquery -->
	<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
	<!-- toastr -->
	<link rel="stylesheet" type="text/css" href="css/toastr.min.css">
	<script type="text/javascript" src="js/toastr.min.js"></script>
</head>
<body class="bg-primary">
	<br>	
	<div id="app">
		<div class="position-relative container">
			<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">
				<div class="row col-12">
					<div class="col-8 col-sm-8 col-md-10"> 
						<input type="text" v-model="key" class="form-control" placeholder="Buscar por número o nombre"> 
					</div> 
					<div class="col-4 col-sm-4 col-md-2 d-grid gap-2"> 
						<button class="btn btn-light" @click="search">buscar</button> 
					</div> 
					
				</div> 
			</nav>
			<div v-if="pokemon" class="card card-body position-absolute top-0 start-50 text-center translate-middle-x" style="width: 18rem;">
			  	<div class="row ">
			  		<div class="col-6 text-start fw-light">
			  			{{pokemon.experiencia}} exp
			  		</div>
			  		<div class="col-6 text-end fw-light">
			  			{{pokemon.hp}} hp
			  		</div>
			  	</div>
			  	<div class="text-center my-2">
			  		<img :src="pokemon.imgCvg" class="card-img-top bg-info" style="width: 12rem; height: 12rem" alt="Imagen del Pokemon">
			  	</div>
			  	<span class=" fw-bold">{{pokemon.nombre}}</span>
			    <hr class="my-2">
			    <div class="row text-center">
			    	<div class="col-4">
			    		<span class="font-monospace fw-bold">{{pokemon.ataque}}K</span><br>
			    		<small><span class="fw-lighter">Ataque</span></small>
			    	</div>
			    	<div class="col-4">
			    		<span class="font-monospace fw-bold">{{pokemon.especial}}K</span><br>
			    		<small><span class="fw-lighter">Ataque Especial</span></small>
			    	</div>
			    	<div class="col-4">
			    		<span class="font-monospace fw-bold">{{pokemon.defensa}}K</span><br>
			    		<small><span class="fw-lighter">Defensa</span></small>
			    	</div>
			    </div>
			</div>
		</div>

	</div>

	<script type="text/javascript" src="js/main.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>