<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sr Pokemón</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>
</head>
<body class="bg-primary">
	<br>	
	<div id="app">
		<div class="container">
			<div class="card p-3"> 
				<div class="row">
					<div class="col-12 col-sm-8 col-md-10"> 
						<input type="text" v-model="key" class="form-control" placeholder="Buscar"> 
					</div> 
					<div class="col-12 col-sm-4 col-md-2 d-grid gap-2"> 
						<button class="btn btn-dark" @click="search">buscar</button> 
					</div> 
					<div v-if="error" class="col-12">
						<br>
						<div class="alert alert-danger" role="alert">
						  Error! Pokemon no encontrado
						</div>
					</div>
				</div> 
			</div> <br>
			<div v-if="pokemon" class="card p-3">
				<div class="row">
					<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 text-center">
						<div class="card text-bg-secondary">
						  <img :src="pokemon.sprites.front_default" class="card-img" alt="...">
						  <div class="card-img-overlay">
						    <h5 class="card-title">{{pokemon.name}}</h5>
						  </div>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-md-8 col-lg-9 col-xl-10">
						<div class=" row">
						 	<p>
						 		<h5>stats:</h5>
						 		<div v-for="stat in pokemon.stats" class="col-auto">
						 		{{stat.stat.name}}: {{stat.base_stat}}
								</div>	
							</p>
							<p>
								<h5>abilities</h5>
								<div v-for="abilitie in pokemon.abilities" class="col-auto">
							 		{{abilitie.ability.name}}
								</div>
							</p>
							
						</div> 
					</div>
				</div>
			</div>

			
		</div>

	</div>

	<script type="text/javascript">
		const app = new Vue({
			el: '#app',
			data: {
				key: 1,
				error: false,
				pokemon: null,
			},
			methods: {
				search () {
					console.log("entra");
					$.ajax({
						type: "GET",
						mimeType: 'text/html; charset=utf-8',
						method: 'GET',
				        dataType: "json",
				        url: 'https://pokeapi.co/api/v2/pokemon/'+app.key,
				        cache: false,
				        success: function(result)
				        {
				        	if (result) {
				        		console.log(result);
				        		app.pokemon = result;
				        		app.error = false;
				        	} 
				        	
				        },
				        error: function() {
				        	app.error = true;
					    },
				    });
				},
			}
		});
		app.search()
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js" integrity="sha512-naukR7I+Nk6gp7p5TMA4ycgfxaZBJ7MO5iC3Fp6ySQyKFHOGfpkSZkYVWV5R7u7cfAicxanwYQ5D1e17EfJcMA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>